<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Desktop</title>
  <link rel="shortcut icon" href="../img/sa-favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="../style/style.css" />
</head>

<body>
  <div class="phone-screen">
    <header class="header">
      <div class="user">
        
      </div>
      <h1 class="heading">Webex CC</h1>
      <div class="settings">
        
      </div>
    </header>
    <section class="content">
      <section class="recent">
        <h2 class="fs">Authentication</h2>
      </section>
      <ul class="categories">
        <li>
          <button class="auth" id="start"></button>
        </li>
      </ul>
    </section>


  </div>

</body>
<script type="module" src="./startTokenProcess.js"></script>
</body>

</html>