<!DOCTYPE html>
<html>
  <head>
    <title>WebexCC Wallboard</title>
    <link rel="stylesheet" href="style/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js" integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js
    "></script>
  </head>

  <body>
    <h1>Webex Contact Center Wallboard</h1>
    <div class="col">
      <div class="wrapper">
        <canvas class="canvas" id="callStatsByAgent"></canvas>
        <canvas class="canvas" id="totalAgentSessionsRealTime"></canvas>
        <canvas class="canvas" id="callCountByEntryPoint"></canvas>
        <canvas class="canvas" id="callStatsByQueue"></canvas>
      </div>
    </div>
    <footer>Provided by @Cisco Webex Contact Center 2.0 APIs</footer>
    <script type="module" src="index.js"></script>
  </body>
</html>
